
.hr_wide {
	width: 97%;
	border: none;
	border-top: 1px solid $light;
	margin: 1.5rem 0;
}

.jumbotron {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding:  35px 0 80px 0;
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5em;
		color: $highlight;
	}
}

.header_search {
    text-align: center;
    max-width: 580px;
    height: 50px;
    margin: 40px auto 24px auto;
    border-radius: 25px;
    background-color: $highlight;
    #search {
        width: 85%;
        height: 35px;
		color: $medium;
        padding: 0 0 0 10px;
        position: relative;
        top: 50%;
        transform: translateY(-5%);
        border: 1px solid #24a290;
        &:focus {
            outline: none; /* overrides chrome default focus outline */
        }
    }
    button[type=submit] {
        font-size: 1.5rem;
        padding:5px;
        margin: 5px;
        background-color: transparent;
        color: $white;
        border:0 none;
        &:focus {
            outline: none; /* overrides chrome default focus outline */
        }
    }
	p {
		padding-top: 4px;
		line-height: 0!important;
	}
}

.col-1, .col-2, .col-3 {
	float: left;
}

.about {
	width: 45%;
	padding: 0 2.5% 0 0;
}

.col-2 {
	width: 22.5%;
	padding: 0;
}

.col-3 {
	width: 32.5%;
	padding: 0 2.5%;
}

/*   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -
CONTENT STYLES
-   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   -   */
#content {
    padding: 30px 0;
	background-color: $white;
    ul li {
        list-style-type: none;
        display: inline;
    }
}
.main_content, .side_content {
    h1 {
        font-size: 1.6rem;
        font-weight: 700;
		color: $dark;
    }
}

.main_content {
	width: 75%;
    float: left;
    .business_divider {
        width: 90%;
        height: 1px;
        background-color: $light;
        margin: 40px 0;
        border: none;
    }
	.pagination {
		margin-bottom: 1em;
	}
}

.category_listing {
	margin-top: 35px;
	padding-right: 30px;
	.listing_logo, .listing_desciption {
		float: left;
	}
	h2 {
		text-transform: uppercase;
		font-size: 1.3rem;
		margin: 0 0 6px 0;
	}
	.listing_logo {
		width: 20%;
		max-width: 150px;
		max-height: 150px;
		padding: 0;
		border: 1px solid $medium;
		border-radius: 8px;
		float: left;
	}
	.listing_description {
		width: 80%;
		float: right;
		text-align: left;
		p {
			font-size: 1rem;
			line-height: 1.4em;
			margin: 0 0 5px 0;
			.contact_method {
				padding: 0 20px 0 0;
			}
		}
		.button {
			background-color: $highlight;
			border: none;
			color: #fff;
			padding: 7px 38px;
			text-align: center;
			text-decoration: none;
				text-transform: uppercase;
			display: inline-block;
			font-size: .8em;
				border-radius: 8px;
				margin-top: 10px;
				&:hover {
					background-color: $light;
					color: $brown;
				}
		}
	}
}

.side_content {
    width: 25%;
    text-align: center;
    float: right;
    hr {
            margin: 0 auto 20px auto;
    }
    p {
        line-height: 1.7rem;
    }
	button {
		border: none;
		background-color: transparent;
		margin-left: -35px;
		font-size: .8em;
		&:focus {
            outline: none;
        }
	}
}

.bigbox {
    width: 300px;
    height: 250px;
    margin: 10px auto 40px auto;
    background-color: $highlight;
}

.search {
    margin: 0 0 50px 0;
    label {
        color: $highlight;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 700;
     }
    select, input[type=text] {
        background-color: $light;
        border: none;
        width: 80%;
        border-radius: 5px;
        color: #ababab;
        text-transform: uppercase;
        font-weight: 600;
        font-size: .85rem;
        margin: 15px 0 0 0;
        transition: ease-in-out, width .35s ease-in-out;
    &:focus {
            width: 85%;
            outline: none;
        }
    }
    input[type=text] {
        padding: 10px 5px 10px 30px;
    }
    select {
        padding: 5px 5px 5px 30px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
.station_logos {
    text-align: center;
    padding: 0;
    .station {
        max-width: 70px;
        padding: 0 0 0 10px;
    }
}

.homepage_content {
	h2 {
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	h6 {
		font-size: .8rem;
		text-transform: uppercase;
		color: $highlight;
		margin-bottom: 15px;
	}
	hr {
		width: 3em;
		display: block;
		height: 2px;
		border: 0;
		border-top: 2px solid $highlight;
		margin: 2rem 0;
	}
	p {
		margin: 0 0 .75em 0;
	}
	.second_header {
	  padding-top: 1.6rem;
	}
	.button {
	    background-color: $light;
	    border: none;
	    color: $highlight;
	    padding: 12px 38px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
			border-radius: 12px;
			margin-top: 10px;
	}
}

.about {
	padding: 0 7.5% 0 0;
	a {
		color: $highlight;
		font-weight: 700;
		text-decoration: none;
	}
}

.wrapper_home {
	width: 100%;
	background-color: $white;
	padding: 4rem;
}

.search {
	#category {
		width: 80%;
		border-radius: 5px;
		border: none;
		padding: 0px 25px;
		background-color: $light;
		color: $medium;
		text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
		background: url(../assets/down_arrow.png) $light no-repeat right;
		option {
			padding: 10px 10px;
		}
	}
	#category::-ms-expand { /* for IE 11 */
	    display: none;
	}
	#alphabet {
		width: 80%;
		border-radius: 5px;
		border: none;
		padding:10px 25px;
		background-color: $light;
		color: $medium;
		text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
		background: url(../assets/down_arrow.png) $light no-repeat right;
		option {
			padding: 0 10px;
		}
	}
	#search {
		width: 80%;
		border-radius: 5px;
		border: none;
		padding:10px 48px 10px 25px;
		background-color: $light;
		color: $medium;
	}
	#submit {
    padding:10px 15px 10px 15px;
		background: url(../assets/right_arrow.png) $light no-repeat right;
    border:none;
    cursor:pointer;
    -webkit-border-radius: 5px;
		margin-left: -37px;
	}
}

.who {
	.button {
		border-radius: 5px;
	}
}
